<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/teacher_materialsname" method="post">
     {% csrf_token %}
<table width="200" border="1">
  <tr>
    <td>Subject_name1</td>
    <td><input name="Subject_name1" type="text" value="Insert" /></td>
    <td><input name="" type="button" value="submit" /></td>
  </tr>
   <tr>
    <td>Subject_name2</td>
    <td><input name="Subject_name2" type="text" value="Insert" /></td>
    <td><input name="" type="button" value="submit" /></td>
  </tr>
   <tr>
    <td>Subject_name3</td>
    <td><input name="Subject_name3" type="text" value="Insert" /></td>
    <td><input name="" type="button" value="submit" /></td>
  </tr>
   <tr>
    <td>Subject_name4</td>
    <td><input name="Subject_name4" type="text" value="Insert" /></td>
    <td><input name="" type="button" value="submit" /></td>
  </tr>
   <tr>
    <td>Subject_name5</td>
    <td><input name="Subject_name5" type="text" value="Insert" /></td>
    <td><input name="" type="button" value="submit" /></td>
  </tr>
   <tr>
    <td>Subject_name6</td>
    <td><input name="Subject_name6" type="text" value="Insert" /></td>
    <td><input name="" type="button" value="submit" /></td>
  </tr>
</table>

</form>
</body>
</html>
