<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/teacher_viewfeedback" method="get">
<table width="200" border="1">
 <center> <tr>
    <td colspan="2">_FEEDBACK_</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">Student Name</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">__Student feedback__</td>
    <td>&nbsp;</td>
  </tr>
  </center>
</table>

</form>
</body>
</html>
