{% extends 'admin/adminindex.html' %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/admin_deptedit_post/{{abc.id}}" method="post">
    {% csrf_token %}
<table width="200" border="1" align="center" class="table table-bordered text-black" style="background-color: #99ccff">
  <tr>
    <th scope="row">DeptName</th>
    <td><input name="Depname" type="text" value="{{ abc.depname }}" /></td>
  </tr>
  <tr><td colspan="2" align="center"><input name="deptadd" value="Edit" type="submit" class="btn btn-success"/></td></tr>
</table></form>
</body>
</html>
{% endblock %}

