{% extends 'admin/adminindex.html' %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/admin_deptlistview" method="get"><table width="200" border="1" class="table table-bordered text-black" style="background-color: #99ccff">
  <tr>
    <th scope="col">slno</th>
    <th scope="col">DepartmentName</th>
    
  </tr>
    {% for i in UNNI %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.depname }}</td>
    <td><a href="/admin_deptedit/{{ i.id }}#abc" class="btn btn-success">Edit</a></td>
    <td><a href="/admin_depdelet/{{ i.id }}#abc" class="btn btn-danger">Delete</a></td>
    <td><a href="/admin_courseadd/{{ i.id }}#abc" class="btn btn-success">Course add</a></td>
      <td><a href="/admin_courselistview/{{ i.id }}#abc" class="btn btn-success">Course view</a></td>


  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}

