<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/adminhomepg" method="get"><h1 align="center">Admin View</h1><table align="center" width="200" border="1">
  <tr>
  <td align="center"><a href="/admin_deptadd">Department Add</a></td></tr>
  <tr><td align="center"><a href="/admin_deptlistview">Department View</a></td></tr>
  <tr><td align="center"><a href="/admin_batch_add">Batch Add</a></td></tr>
  <tr><td align="center"><a href="/admin_batchlistview">Batch View</a></td></tr>
  <tr><td align="center"><a href="/admin_subjectadd">Subject Add</a></td></tr>
  <tr><td align="center"><a href="/admin_addteacher">Teacher Add</a></td></tr>
  <tr><td align="center"><a href="/admin_teacherslistview">Teacher View</a></td></tr>
  <tr><td align="center"><a href="/admin_sethod">Set HOD</a></td></tr>
  <tr><td align="center"><a href="/admin_A_studentprofileview">View student</a></td></tr>
  <tr><td align="center"><a href="/admin_A_studentfeedback">View feedback</a></td>
  </tr>
</table>
</form>
</body>
</html>
