{% extends 'admin/adminindex.html' %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/admin_subjectallocation" method="post"><table width="200" border="1" class="table table-bordered text-black" style="background-color: #99ccff">
    {% csrf_token %}
      <tr>
    <th scope="row">department</th>
    <td><select name="deptname">
      <option>--select--</option>
    </select></td>
  </tr>
  <tr>
    <th scope="row">subject</th>
    <td><select name="subjects">
      <option>--select--</option>
    </select></td>
  </tr>
  <tr><td colspan="2" align="center"><input name="subjectallocate" value="allocate" type="submit" /></td></tr>
</table>
</form>
</body>
</html>
{% endblock %}
